.navigation__list {
    height: 72px;
}

.navigation__panel {
    width: 100%;
    padding-left: 71px;
}

.navigation__list {
    justify-content: space-between;
}

.navigation__list li a {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto medium';
    color: var(--light-dark);
}

.list-sales {
    color: var(--red) !important;
     transition: color 0.5s ease;
}

.list-sales:hover {
    color: red !important;
    transition: color 0.5s ease;
}

input[type="search"] {
    width: 248px;
    height: 40px;
    font-size: 12px;
    color: grey;
    padding-left: 15px;
    border: 1px solid rgba(109, 109, 109, 0.7);
    border-radius: 6px;
}

.navigation__list-buy {
    color: var(--white) !important;
    text-transform:initial !important;
    height: 40px;
}