.pagination {
    margin-top: 47px;
}

.pagination-next svg {
    transform: rotate(180deg);
}

.pagination-prev:hover svg path {
    fill:var(--orange);
}

.pagination-next:hover svg path {
    fill:var(--orange);
}

.pagination-item {
    font-family: 'Roboto medium';
    height: 25px;
    color: var(--blue);
    margin-left: 15px;
    margin-right: 15px;
}

.pagination-item:hover {
    cursor: pointer;
    color: var(--orange);
}

.cursor-pointer {
    cursor: pointer;
}