.about-company, .about {
    margin-top: 35px;
}

.about {
    align-items: start;
}

.about__img > img {
    max-width: 406px;
    max-height: 315px;
}

.about__title span {
    font-family: 'Roboto medium';
    font-size: 18px;
}

.about__statistics {
    padding-top: 24px;
}

.statictic__efficiency {
    font-family: 'Roboto bold';
    font-size: 22px;
    color: var(--blue);
}

.statistic__direction {
    font-size: 18px;
    color: var(--black);
}

.about__text {
    padding-top: 24px;
    max-width: 884px;
}