.certificates {
    margin-top: 24px;
}

.certificates__slider {
    padding-top: 45px;
}

.certificate__main > img {
    max-width: 279px;
    max-height: 400px;
}

.certificate > img {
    max-width: 230px;
    min-height: 330px;
    max-height: 330px;
}

.certificate:not(:first-child) {
    margin-left: 44px;
}

.certificates__body {
    flex-wrap: nowrap;
    position: relative;
    max-width: 1101px;
    height: 352px;
    overflow: hidden;
}

.certificates__background {
    z-index: -1;
    position: absolute;
    top: 26px;
    left: 19px;
    width: 100%;
    height: 352px;
    background-color: var(--blue);
}

.certificates__btns > .pagination {
    margin-top: 18px;
    margin-left: 44px;
    justify-content: start;
}

.certificate-next {
    margin-left: 14px;
}

.our-projects__project:nth-child(4),
.our-projects__project:nth-child(5),
.our-projects__project:nth-child(6) {
    padding-top: 41px;
}